resources/odd/wvh-schriften.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en"><teiHeader><fileDesc>
            <titleStmt><title>Wilhelm von Humboldt: Schriften                                           
                 
                  
                 
                 
                 
                 
                 
                 
                      
                 
                 
                 
                 
                 
                 
                   <desc>ODD für die digitale Edition von Wilhelm von Humboldts Schriften</desc></title><title type="short">Humboldt Schriften</title></titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc><encodingDesc><tagsDecl><rendition source="wvh-theme.css"/></tagsDecl></encodingDesc><revisionDesc>
            <change when="2024-12-05Z">Initial version</change>
        </revisionDesc></teiHeader><text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="wvh-schriften" source="teipublisher.odd"> <elementSpec ident="hi" mode="change"><model behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="emp" mode="add"><model behaviour="inline">
            <outputRendition xml:space="preserve">
            front-style: bold
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="title" mode="change"><model predicate="@type='main'" behaviour="heading">
            <param name="level" value="1"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            text-align: center;
margin: 0 auto;
font-size: 1.5em;
font-weight: bold;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><model predicate="@type='sub'" behaviour="heading">
            <param name="level" value="3"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            text-align: center;
font-size: 1.0em;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence><model predicate="not(@level) and parent::bibl" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model><modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence></elementSpec>
<elementSpec ident="persName" mode="add"><model output="print" behaviour="inline"/><model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id(@ref, doc('/db/apps/wvh-schriften/resources/registers/person.xml'))"/>
            <outputRendition xml:space="preserve">
            
            color: orange;
cursor: pointer;
            
            </outputRendition>
        </model></elementSpec>



                <elementSpec ident="dateline" mode="change"><model behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: right
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="person" mode="add"><modelSequence>
            <model behaviour="block">
                <param name="content" value="persName[@type=&#34;main&#34;]"/>
                <outputRendition xml:space="preserve">
                
                font-weight: bold;
text-decoration: underline;
text-decoration-color: orange;
                
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value="concat(            '(* ',            substring(birth/date/@when, 9, 2), '.',             substring(birth/date/@when, 6, 2), '.',             substring(birth/date/@when, 1, 4), ' in ',             birth/placeName,             ' – † ',            substring(death/date/@when, 9, 2), '.',             substring(death/date/@when, 6, 2), '.',             substring(death/date/@when, 1, 4), ' in ',             death/placeName,             ')'          )"/>
                <outputRendition xml:space="preserve">
                color: gray;
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value="note/node()"/>
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
        </modelSequence></elementSpec>

                <elementSpec ident="pb" mode="change"><model behaviour="break" cssClass="pb-page-number">
            <param name="label" value="(concat('[', if(@n) then concat(@n,'] ') else '', if(@facs) then concat('@',@facs) else ''))"/>
            <param name="type" value="'page'"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            color: #083ed1;
display: block
margin: 0 0.5em
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model><model output="epub" behaviour="section" cssClass="pb-page-number">
            <param name="type" value="'page'"/>
            <param name="label" value="(concat('[', if(@n) then concat(@n,'] ') else '', if(@facs) then concat('@',@facs) else ''))"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            color: #083ed1;
display: block
margin: 0 0.5em
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="p" mode="change"><model predicate="@rend='center'" behaviour="paragraph">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            text-align: center;
margin-block-start: 0.5em;
margin-block-end: 0.5em;
            
            
            
            
            
            
            </outputRendition>
        </model><model predicate="ancestor::sp" behaviour="inline">
            <outputRendition xml:space="preserve">
            null
            </outputRendition>
        </model><model predicate="ancestor::item and not(preceding-sibling::p)" behaviour="paragraph">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            display: inline;
      margin: 0;
      text-indent: 0;
            
            
            
            
            
            
            </outputRendition>
        </model><model predicate="ancestor::item and preceding-sibling::p" behaviour="paragraph">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            display: block;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      text-indent: 1.5em;
            
            
            
            
            
            
            </outputRendition>
        </model><model behaviour="paragraph" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            text-align: justify;
text-indent: 1.5em;
margin-block-start: 0.5em;
margin-block-end: 0.5em;
            
            
            
            
            
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="idno" mode="add"><model behaviour="link">
            <param name="uri" value="."/>
            <outputRendition xml:space="preserve">
            color: #1E90FF;
            </outputRendition>
        </model></elementSpec>
<elementSpec ident="note" mode="change"><model output="print" behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
            <outputRendition xml:space="preserve">
            background-color: #ead8c3;
            </outputRendition>
        </model><model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
            <outputRendition xml:space="preserve">
            background-color: #ead8c3;
            </outputRendition>
        </model></elementSpec>

                <elementSpec ident="footnote" mode="add"/>
                <elementSpec ident="div" mode="change"><modelSequence predicate="self::div">
            <model predicate="self::div" behaviour="inline">
                <param name="content" value="root(.)//facsimile/graphic"/>
            </model>
            <model predicate="self::div" behaviour="block">
                <param name="content" value="root (.)//sourceDesc/msDesc/msContents/summary"/>
            </model>
            <model predicate="self::div" behaviour="section">
                <outputRendition xml:space="preserve">
                
                </outputRendition>
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
        </modelSequence><model predicate="self::div" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model><model predicate="self::div" behaviour="section">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model><model predicate="self::div" behaviour="block">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="graphic" mode="change"><model predicate="parent::facsimile" behaviour="inline">
            <param name="url" value="@url"/>
            <pb:template xmlns="" xml:space="preserve"><pb-facs-link facs="[[url]]" emit="transcription"/></pb:template>
        </model><model behaviour="graphic">
            <param name="url" value="@url"/>
            <param name="width" value="@width"/>
            <param name="height" value="@height"/>
            <param name="scale" value="@scale"/>
            <param name="title" value="desc"/>
        </model></elementSpec>
                <elementSpec ident="place" mode="add"><modelSequence>
            <model behaviour="block">
                <param name="content" value="placeName[@type=&#34;main&#34;]"/>
                <outputRendition xml:space="preserve">
                
                
                
                
                
                
                
                
                
                
                
                
                
                font-weight: bold;
text-decoration: underline;
text-decoration-color: #09a603;
                
                
                
                
                
                
                
                
                
                
                
                
                
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value="note/node()"/>
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
        </modelSequence></elementSpec>
                <elementSpec ident="placeName" mode="add"><model output="print" behaviour="inline"/><model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id(@ref, doc('/db/apps/wvh-schriften/resources/registers/places.xml'))"/>
            <outputRendition xml:space="preserve">
            
            color: #09a603;
cursor: pointer;
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="org" mode="add"><modelSequence>
            <model behaviour="block">
                <param name="content" value="orgName[@type=&#34;main&#34;]"/>
                <outputRendition xml:space="preserve">
                
                
                
                
                
                
                
                
                
                
                
                
                
                font-weight: bold;
text-decoration: underline;
text-decoration-color: #b431e8;
                
                
                
                
                
                
                
                
                
                
                
                
                
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value="note/node()"/>
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
        </modelSequence></elementSpec>
                <elementSpec ident="orgName" mode="add"><model output="print" behaviour="inline"/><model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id(@ref, doc('/db/apps/wvh-schriften/resources/registers/organizations.xml'))"/>
            <outputRendition xml:space="preserve">
            
            color: #b431e8;
cursor: pointer;
font-style: italic;
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="list" mode="change"><model predicate="@rend='arabic'" behaviour="list">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            list-style-type: decimal;
      list-style-position: inside;
      margin: 0;
      padding: 0;
top: 0.5em;
            
            
            
            
            
            </outputRendition>
        </model><model predicate="@rend='roman'" behaviour="list" useSourceRendition="true">
            <param name="content" value="item"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            list-style-type: upper-roman;
      list-style-position: inside;
margin-block-start: 0.5em;
      padding: 0;
            
            
            
            
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="listTerm" mode="add"/>
                <elementSpec ident="term" mode="add"/>
                <elementSpec ident="termName" mode="add"/>
                <elementSpec ident="date" mode="change"><model output="web" predicate="@when" behaviour="inline">
            <param name="default" value="."/>
            <param name="alternate" value="@when"/>
        </model><model behaviour="inline">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="speaker" mode="change"><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style:italic; margin-right: 1rem; display: inline-block;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="sp" mode="change"><model behaviour="block">
            <outputRendition xml:space="preserve">
            text-indent: .5em; margin-bottom: 1rem; text-align: justify
            </outputRendition>
        </model><model output="epub" behaviour="block">
            <outputRendition xml:space="preserve">
            text-indent: .5em; margin-bottom: 1rem; text-align: justify
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="emph" mode="add"><model behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            font-style: italic;
letter-spacing:0.125em
            
            
            
            
            
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="bibl" mode="change"/>
                <elementSpec ident="publisher" mode="add"><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="quote" mode="change"><model predicate="ancestor::p" behaviour="inline" useSourceRendition="true">
            <desc>If it is inside a paragraph then it is inline, otherwise it is block
                        level</desc>
            <outputRendition xml:space="preserve" scope="before">
            content: '„';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: '“';
            </outputRendition>
        </model><model behaviour="block" useSourceRendition="true">
            <desc>If it is inside a paragraph then it is inline, otherwise it is block
                        level</desc>
            <outputRendition xml:space="preserve">
            margin-left: 10px; margin-right: 10px;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="item" mode="change"><model behaviour="listItem">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            margin: 0.5em 0;
      padding: 0;
text-indent: 1.5em;
text-align: justify;
            
            
            
            
            
            
            </outputRendition>
        </model></elementSpec>

                <elementSpec ident="lg" mode="change"><model behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: center;
            </outputRendition>
            <outputRendition xml:space="preserve">
            padding: 0.8rem
            </outputRendition>
        </model></elementSpec>
            </schemaSpec>
        </body>
    </text></TEI>